@import 'tw-animate-css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind utilities;

:root {
  font-family: 'VT323', monospace;

  --nome-cor: #000000;
}

@theme {
  --shadow-window: -11px 16px rgba(34, 18, 8, 1);
}
